# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123

# Host ports
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
BLACKBOX_PORT=9115
SNMP_EXPORTER_PORT=9116
NODE_EXPORTER_PORT=9100
